{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
            <p> <a href="{% url 'todo_list_update' id=todolist.id %}">Edit</a> </p>
            <p> <a href="{% url 'todo_list_delete' id=todolist.id %}">Delete</a> </p>
            <h2> Tasks </h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Task</th>
                        <th colspan="2">Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todotasks in todolist.items.all %}
                    <tr>
                    <td><a href="{% url 'todo_item_update' id=todotasks.id %}">{{ todotasks.task }}</a></td>
                    <td> {{ todotasks.due_date }}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
</body>
</html>