{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My lists</h1>
            <p> <a href="{% url 'todo_list_create' %}">Create a new list</a> </p>
            <p> <a href="{% url 'todo_item_create' %}">Create a new item</a> </p>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Name</th>
                        <th colspan="2">Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in to_do_list %}
                    <tr>
                    <td> <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a></td>
                    <td>{{ todo.items.count }} </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
</body>
</html>